

/* Tabs styles */
@keyframes rightToLeft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes leftToRight {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d2d9dc;
    border-radius: 6px;
}

/* Tabs container */
.tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-weight: 600;
}

.tabs * {
    box-sizing: border-box;
}

/* Tabs labels wrapper */
.tabs .labels-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.tabs .labels-wrapper .tab-label {
    background: #f9f9f9;
    border-radius: 0.25rem 0.25rem 0 0;
    color: #888888;
    font-size: 1rem;
    text-align: center;
    line-height: 2rem;
    margin-right: 0;
    margin-bottom: 0.25rem;
    padding: 0 1.5rem;
    user-select: none;
    cursor: pointer;
    flex-basis: 50%;
    white-space: nowrap;
}

.tabs .labels-wrapper .tab-label:hover {
    background: #dddddd;
    color: #ceb281;
}

.tabs .labels-wrapper .tab-label:nth-of-type(odd) {
    border-right: 2px solid #ffffff;
}

.tabs .labels-wrapper .tab-label:nth-of-type(even) {
    border-left: 2px solid #ffffff;
}

@media (min-width: 768px) {
    .tabs .labels-wrapper .tab-label {
        flex-basis: auto;
        margin-right: 0.25rem;
        margin-bottom: 0;
    }

    .tabs .labels-wrapper .tab-label:nth-of-type(odd),
    .tabs .labels-wrapper .tab-label:nth-of-type(even) {
        border: none;
    }
}

.tabs .labels-wrapper .active-tab-label {
    background: #f1f1f1;
    color: #444444;
    z-index: 6;
}

.tabs .labels-wrapper .active-tab-label:hover {
    background: #f1f1f1;
    /* color: #444444; */
    color: #ceb281;
    cursor: pointer;
}

/* Fancy tabs wrapper */
.tabs .fancy-labels-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tabs .fancy-labels-wrapper .labels {
    display: flex;
    overflow: auto;
    padding-bottom: 5px;
}

.tabs .fancy-labels-wrapper .tab-additional-icon {
    padding-bottom: 10px;
    margin-inline-start: 20px;
}

.tabs .fancy-labels-wrapper .tab-label {
    background: #f9f9f9;
    border-radius: 20px;
    border: 1px solid transparent;
    color: #888888;
    font-size: 14px;
    text-align: center;
    line-height: 2rem;
    margin-inline-end: 0.25rem;
    margin-bottom: 0.25rem;
    padding: 0 1.5rem;
    user-select: none;
    cursor: pointer;
    white-space: nowrap;
}

.tabs .fancy-labels-wrapper .tab-label:hover {
    background: #ebe9ec;
    color: #ceb281;
}

.tabs .fancy-labels-wrapper .active-tab-label {
    background-color: transparent;
    color: #ceb281;
    z-index: 6;
    border: 1px solid #ceb281;
}

.tabs .fancy-labels-wrapper .active-tab-label:hover {
    background-color: transparent;
    color: #ceb281;
    cursor: pointer;
}

/* Tabs content wrapper */
.tabs .tabs-content-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    /* background-color: #f1f1f1; */
}

.tabs .tabs-content-wrapper .tab-content {
    opacity: 0;
    padding: 0.5rem;
    transition: opacity 0.5s ease-in-out;
    /* Change transition property */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    flex-basis: 100%;
}

.tabs .tabs-content-wrapper .active-tab-content {
    opacity: 1;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
    flex-grow: 1;
}

/* Vertical tabs */
.tabs.vertical-tabs {
    flex-direction: row;
}

.tabs.vertical-tabs .labels,
.tabs.vertical-tabs .labels-wrapper {
    flex-direction: column;
}

.tabs.vertical-tabs .labels-wrapper .tab-label {
    margin: 0 0 4px 0;
    border-radius: 0.25rem 0 0 0.25rem;
    flex-basis: auto;
    border: none;
}

.tabs.vertical-tabs .tabs-content-wrapper {
    flex: 1;
}