.reviewbox {
  font-family: Roboto, Sans-serif;
}

#reviewmainsection {
  width: 100%;
  min-height: 500px;
  height: 50vh;
  position: relative;
  background: #e2e2e2;
  overflow: visible;
}

#holder {
  max-width: 700px;
  width: 98%;
  min-height: 360px;
  height: 360px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#image1 {
  width: 40%;
  height: 100%;
  float: left;
  position: relative;
  z-index: 200;
  /* background:; */
  box-shadow: 0px 40px 120px 0px rgba(0, 0, 0, .52);
  overflow: visible;
}

#right {
  width: 60%;
  height: 100%;
  float: right;
  position: relative;
}

#text {
  width: 60%;
  height: 320px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 100;
  background: rgba(255, 255, 255, .57);
  box-shadow: 0px 40px 120px 0px rgba(0, 0, 0, .52);
}

.reviewancor {
  display: block;
  text-decoration: none;
  outline: none;
  outline-color: none;

}

.homenavcompoent {
  width: 140px;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 0 0 -25px -70px;
  z-index: 1000;
  box-shadow: 0px 7px 24px 3px rgba(0, 0, 0, .52);
  display: none;
}

#leftBtn {
  width: 50%;
  height: 100%;
  float: left;
  color: rgba(255, 255, 255, .57);
  background: #232323;
  font-size: 25px;
  line-height: 200%;
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, .57);
  cursor: pointer;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

#rightBtn {
  width: 50%;
  height: 100%;
  float: right;
  color: rgba(255, 255, 255, .57);
  background: #232323;
  font-size: 25px;
  line-height: 200%;
  text-align: center;
  border-left: 1px solid rgba(255, 255, 255, .57);
  cursor: pointer;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

#leftBtn:hover,
#rightBtn:hover {
  color: #fff;
}

#nav_cirlces {
  width: 96px;
  height: 20px;
  position: absolute;
  bottom: 8%;
  left: 50%;
  margin-left: -50px;
}

.circle {
  width: 20px;
  height: 100%;
  float: left;
  border-radius: 100%;
  border: 2px solid #232323;
  margin: 0 6px;
  z-index: 999 !important;
  cursor: pointer;
  transition: all .75s cubic-bezier(.86, .3, .07, 1);
}

#centerText {
  width: 100%;
  height: 200px;
  position: absolute;
  top: 20%;
  margin-top: -100px;
  padding: 10px 0;
  overflow: visible;
}

.reviewparagraph {
  width: 100%;
  height: 150px;
  position: absolute;
  top: 45px;
  left: 0;
  right: -150px;
  bottom: 0;
  margin: auto;
  font-size: 20px;
  color: #232323;
  padding: 0 25px;
  text-align: center;
  opacity: 0;
  transition: all 2s cubic-bezier(.86, .3, .03, 1), opacity .7s cubic-bezier(.86, .3, .47, 1) .3s;
}

.reviewparagraph.quote.active1 {
  right: 0;
  opacity: 1;
  background: transparent;
}

.reviewparagraph.quote:nth-child(2) {
  top: 25px;
}

.active1 {
  background: #232323;
}

.img1 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: -100%;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  opacity: 0;
  z-index: 400;
  transition: all 2s cubic-bezier(.86, .3, .03, 1), opacity .7s cubic-bezier(.86, .3, .47, 1) .3s;
}

.img1.active1 {
  right: 0;
  opacity: 1;
  z-index: 500;
  object-fit: contain;
}

.jobs {
  background: #fff url('https://img.freepik.com/free-photo/cheerful-curly-business-girl-wearing-glasses_176420-206.jpg?size=626&ext=jpg&uid=R123337181&ga=GA1.1.282867472.1702277351&semt=sph');
}

.zuck {
  background: #fff url('https://img.freepik.com/free-photo/young-beautiful-woman-pink-warm-sweater-natural-look-smiling-portrait-isolated-long-hair_285396-896.jpg?size=626&ext=jpg&uid=R123337181&ga=GA1.1.282867472.1702277351&semt=sph');
}

.musk {
  background: #fff url('https://img.freepik.com/premium-photo/beautiful-young-casual-blonde-girl-standing-isolated-pink-wall-arms-folded_171337-97312.jpg?size=626&ext=jpg&uid=R123337181&ga=GA1.1.282867472.1702277351&semt=sph');
}

#bg {
  width: 100%;
  height: 100%;
  position: absolute;
}

.slide1 {
  width: 100%;
  height: 100%;
  position: absolute;
  /*right: -100%;*/
  opacity: 0;
  transition: all 1.5s ease;
}

.slide1.active1 {
  /*right: 0%;*/
  opacity: 1;
}

.jobs-bg {
  background: rgba(10, 9, 9, 0.9) url('https://img.freepik.com/free-photo/abstract-blur-coffee-shop-cafe-interior_74190-6342.jpg?size=626&ext=jpg&uid=R123337181&ga=GA1.1.282867472.1702277351&semt=ais');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.zuck-bg {
  background: rgba(10, 9, 9, 0.9) url('https://images.unsplash.com/photo-1671197342843-f7616f13fbff?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8Y2FmZSUyMGludGVyaW9yJTIwYmx1cnxlbnwwfHwwfHx8MA%3D%3D');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.musk-bg {
  background: rgba(10, 9, 9, 0.9) url('https://images.unsplash.com/photo-1538333581680-29dd4752ddf2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width:700px) {

  #centerText p {
    font-size: 20px;
  }
}

@media screen and (max-width:580px) {

  #holder {
    max-width: 700px;
    width: 100%;
    min-height: 360px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: red;
    margin: auto;
  }

  .img1 {
    background-position: top center !important;
  }

  #image1 {
    width: 220px;
    height: 250px;
    float: left;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -280px;
    margin-left: -110px;
  }

  #right {
    width: 100%;
    height: 100%;
    float: right;
    position: relative;
    background: rgb(221, 221, 224);
  }

  #text {
    width: 90%;
    height: 320px;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }


  #centerText {
    width: 100%;
    height: 200px;
    position: absolute;
    top: 30%;
    margin-top: -100px;
    padding: 150px 0 !important;
    overflow: visible;
  }

}

@media screen and (max-width:450px) {
  #image1 {
    width: 200px;
    height: 230px;
    float: left;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -100px;
  }

  .reviewparagraph {
    width: 100%;
    height: 150px;
    position: absolute;
    top: 140px;
    left: 0;
    right: -150px;
    bottom: 0;
    margin: auto;
    font-size: 20px;
    color: #232323;
    padding: 0 25px;
    text-align: center;
    opacity: 0;
    transition: all 2s cubic-bezier(.86, .3, .03, 1), opacity .7s cubic-bezier(.86, .3, .47, 1) .3s;
  }

  .exception {
    margin-top: 85px;
  }

  #text {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }


  #centerText {
    width: 100%;
    height: 200px;
    position: absolute;
    top: 30%;
    margin-top: -100px;
    padding: 120px 0 !important;
    overflow: visible;
  }

}

.reviewtitle {
  font-size: 35px;
  color: #232323;
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
}

.person_review {
  font-size: 28px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}